.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.heading{
    margin: 15px 0;
    font-weight: 800;
    text-align: center;
}
.card__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.description{
    text-align: center;
    max-width: 800px;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
}
.btn{
    cursor: pointer;
    width: 250px;
    padding: 15px 0;
    background-color: #f47625;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    border: none;
    outline: none;
}
.btn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.dnd__container{
    display: flex;
    width: 100%;
}
.componentsList{
    flex: 0.3;
    overflow-y: scroll;
    max-height: calc(80vh - 20px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.componentsList:has(.drop){
    justify-content: center;
}
.selectedList{
    flex: 1;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    max-height: calc(80vh - 20px);
}
.selectedList:has(.drop){
    align-items: center;
}
.drop{
    font-size: 26px;
    text-transform: uppercase;
    color: #7a7a7a;
    text-align: center;
}